/**
* Stylesheet
* @author: Jenn Schiffer
*/

/* Colors */
body { color: #333; }
a { color: #339999; }
a:hover { color: #cc6666; }
em { color: #999; }

/* Typography */
body, input { font-family: "Helvetica", helvetica, "Helvetica Neue", arial, sans-serif; line-height: 1.3; }
ul li, p, em, div { font-size: 13px; }
h1, h2 { font-weight: normal; line-height: 1em;}
h1 { font-size: 40px; }
a { text-decoration: none; }

/* Layout */
body { padding: 10px 0 40px; margin: 0; }
div#container { margin: 10px auto; width: 800px; padding: 5px 20px; text-align: left; }

/* Form */
form { background: #ddd; padding: 20px; }

/* Price List */
#pricelist { background: #efefef; padding: 20px; }